.highlight {
    background-color: #ffffff;
}

.rst-content code.literal {
    color: #1569C7;
    font-size: 80%;
}

.wy-menu-vertical a {
    font-size: 100%;
    color: #f0f0f0;
}

.wy-nav-content, .wy-nav-content-wrap {
    background-color: #ffffff;
}

.wy-nav-content-wrap {
    background-color: rgba(120, 120, 120, .2);
}

.wy-nav-side {
    background-color: #B8BCCC;
    color: #65749A;
}

.wy-nav-side a:hover {
    color: #B8BCCC;
    background-color: #65749A;
}

.wy-side-nav-search {
    background-color: #65749A;
}

.wy-nav-side .wy-side-nav-search a {
    color: #31E6C9;
}

.wy-side-nav-search div.version {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
}



/*.wy-side-scroll {
}
*/
