.rst-content code.literal {
    color: #1569C7;
    font-size: 80%;
}

.wy-menu-vertical a {
    font-size: 100%;
    color: #f0f0f0;
}

.wy-nav-content, .wy-nav-content-wrap {
    background-image: url("../img/paper.png");
}

.wy-nav-content-wrap {
    background-color: rgba(200, 200, 200, .3);
}

.wy-nav-side {
    background-color: rgba(8, 2, 8, 1);
    background-image: url("../img/cross-scratches.png");
}

.wy-side-nav-search {
    background-color: #0e59f0;
    background-image: url("../img/cross-scratches.png");
}

.wy-side-nav-search div.version {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
}



/*.wy-side-scroll {
}
*/
